<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section class="texttocheckform">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="name">Your Name:</label>
                    <br>
                    <input id="name" type="text" name="input" value="" placeholder="Enter your name here">
                    <br>
                    <br>
                    <label for="statement">
                        Type in a statement to get it checked.
                    </label>
                    <br>
                    <input required id="statement" type="text" placeholder="'I love summer vacations!'"/>
                    <br>
                    <input type="submit" name="" value="submit">
                </form>
            </section>

            <section id="sectionresults">
                <div id="userstatementdiv">
                    <h1 id="username"></h1>
                </div>
                <strong id="formresults">Analyzed Statement Result</strong>
                <div id="results">
                    
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            //Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
